NdsBeisBackOfficeService/src/main/resources/GetPRSExemptionReferenceDataResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://northgateps.com/BEIS/GetPRSExemptionReferenceDataResponse"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:core="http://northgate-is.com/FL/Core"
            targetNamespace="http://northgateps.com/BEIS/GetPRSExemptionReferenceDataResponse"
            xmlns:beisc="http://northgateps.com/BEISCommonTypes"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://northgate-is.com/FL/Core"
                schemaLocation="FLCore.xsd"/>
    <xsd:import namespace="http://northgateps.com/BEISCommonTypes"
                schemaLocation="BEISCommonTypes.xsd"/>
    <xsd:element name="GetPRSExemptionReferenceDataResponse">
        <xsd:annotation>
            <xsd:documentation>PRS exemptions reference data Response</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="core:StandardResponseStructure">
                    <xsd:sequence>
                        <xsd:element name="ServiceDetails" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ServiceDetail"
                                                 maxOccurs="unbounded">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="Service">
                                                    <xsd:simpleType>
                                                        <xsd:restriction base="xsd:string">
                                                            <xsd:enumeration value="PRSD"/>
                                                            <xsd:enumeration value="PRSN"/>
                                                        </xsd:restriction>
                                                    </xsd:simpleType>
                                                </xsd:element>
                                                <xsd:element name="ExemptionTypes"
                                                             minOccurs="0"
                                                             maxOccurs="1">
                                                    <xsd:complexType>
                                                        <xsd:sequence>
                                                            <xsd:element name="ExemptionType"
                                                                         maxOccurs="unbounded">
                                                                <xsd:complexType>
                                                                    <xsd:sequence>
                                                                        <xsd:element name="ExemptionReasonCode"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="Description"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="PWSDescription"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="PWSDescriptionTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     minOccurs="0"
                                                                                     maxOccurs="1"/>
                                                                        <xsd:element name="PWSText"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="PWSTextTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="DurationUnit">
                                                                            <xsd:simpleType>
                                                                                <xsd:restriction base="xsd:string">
                                                                                    <xsd:enumeration value="M"/>
                                                                                    <xsd:enumeration value="Y"/>
                                                                                </xsd:restriction>
                                                                            </xsd:simpleType>
                                                                        </xsd:element>
                                                                        <xsd:element name="Duration"
                                                                                     type="xsd:integer"/>
                                                                        <xsd:element name="MinDocuments"
                                                                                     type="xsd:integer"/>
                                                                        <xsd:element name="MaxDocuments"
                                                                                     type="xsd:integer"/>
                                                                        <xsd:element name="DocumentsRequired"
                                                                                     type="xsd:boolean"/>
                                                                        <xsd:element name="DocumentsPWSLabel"
                                                                                     type="xsd:string"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="DocumentsPWSLabelTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="DocumentsPWSText"
                                                                                     type="xsd:string"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="DocumentsPWSTextTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="TextRequired"
                                                                                     type="xsd:boolean"
                                                                                     minOccurs="1"
                                                                                     maxOccurs="1"/>
                                                                        <xsd:element name="TextPWSLabel"
                                                                                     type="xsd:string"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="TextPWSLabelTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="TextPWSText"
                                                                                     type="xsd:string"
                                                                                     minOccurs="0"
                                                                                     maxOccurs="1"/>
                                                                        <xsd:element name="TextPWSTextTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="StartDateRequired"
                                                                                     type="xsd:boolean"/>
                                                                        <xsd:element name="StartDatePWSLabel"
                                                                                     type="xsd:string"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="StartDatePWSLabelTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="StartDatePWSText"
                                                                                     type="xsd:string"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="StartDatePWSTextTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="FRVRequired"
                                                                                     type="xsd:boolean"/>
                                                                        <xsd:element name="FRVPWSLabel"
                                                                                     type="xsd:string"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="FRVPWSLabelTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="FRVPWSText"
                                                                                     type="xsd:string"/>
                                                                        <xsd:element name="FRVPWSTextTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     maxOccurs="1"
                                                                                     minOccurs="0"/>
                                                                        <xsd:element name="FRVDomain"
                                                                                     type="xsd:string"
                                                                                     minOccurs="0"
                                                                                     maxOccurs="1"/>
                                                                        <xsd:element name="Sequence"
                                                                                  type="xsd:integer"
                                                                                     minOccurs="0"/>
                                                                            <xsd:element name="ExemptionOptions" minOccurs="0" >                                                                                    
                                                                            <xsd:complexType>
                                                                                <xsd:sequence>
                                                                                    <xsd:element name="ExemptionOption"
                                                                                                 maxOccurs="unbounded">
                                                                                        <xsd:complexType>
                                                                                            <xsd:sequence>
                                                                                                <xsd:element name="Code"
                                                                                                             type="xsd:string"/>
                                                                                                <xsd:element name="Description"
                                                                                                             type="xsd:string"  minOccurs="0"/>
                                                                                                <xsd:element name="PWSDescription"
                                                                                                             type="xsd:string"
                                                                                                             maxOccurs="1"
                                                                                                             minOccurs="0"/>
                                                                                                <xsd:element name="PWSDescriptionTranslations"
                                                                                     type="core:StandardTextTranslationStructure"
                                                                                     minOccurs="0"
                                                                                     maxOccurs="1"/>
                                                                                                <xsd:element name="Sequence"
                                                                                                             type="xsd:integer"
                                                                                                             maxOccurs="1"
                                                                                                             minOccurs="0"/>
                                                                                            </xsd:sequence>
                                                                                        </xsd:complexType>
                                                                                    </xsd:element>
                                                                                </xsd:sequence>
                                                                            </xsd:complexType>
                                                                        </xsd:element>
                                                                                     
                                                                                     
                                                                                     
                                                                    </xsd:sequence>
                                                                </xsd:complexType>
                                                            </xsd:element>
                                                        </xsd:sequence>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
